.admin {
    background: linear-gradient(180deg, rgb(0, 45, 79), black);
    text-align: center;

    h1{
        color: white;
        margin-top: 20px;
    }

    .tableContainer {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        color: white;
        width: 100%;
        justify-content: center; // Center the table

        table {
            width: 80%; // Set a reasonable width for the table
            border-collapse: collapse;

            th, td {
                padding: 15px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            th {
                background-color: var(--clr-violet-dark);
                color: white;
            }

            td {
                background-color: var(--clr-violet);
            }

            .btns {
                display: flex;
                gap: 10px;

                .edit,
                .delete {
                    background-color: var(--clr-violet-dark-active);
                    color: white;
                    border: none;
                    padding: 10px 15px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none; // Remove underline from Link
                    display: inline-flex;
                    align-items: center; // Center the button text
                    justify-content: center; // Center the button text
                }

                .edit {
                    background-color: rgb(255, 204, 0);
                }

                .delete {
                    background-color: rgb(192, 0, 0);
                }
            }
        }
    }
}

button {
    color: white;
}
